import { GetServerSideProps } from 'next';

const {{pageName}} = () => {
   return <div></div>;
};

/*******************************************************************
 *
 *  THIS PAGE IS USING SERVER SIDE RENDERING WITH getServerSideProps
 *
 *******************************************************************/

export const getServerSideProps: GetServerSideProps = async () => {
   return {
      props: {},
   };
};

export default {{pageName}};
